
<li class="animat" id="<%=task.id%>">
	<%= check_box_tag :name, 1, false, data: {remote: true, url: task_path(task.id), params: { id: task.id, status: true}.to_param, method: "put" }%>

	<%= task.title %> to read: <%= task.deadline.strftime('%D') %> <%= link_to task_path(id: @task.id), method: :delete, remote: true,  data: { confirm: 'Are you sure?' }  do %>
          <i class="fas fa-dumpster"></i>
        <% end %></li>